.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  justify-content: last baseline;
}


.label {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 8px;
}

.button {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 12px;
  margin-left: 0;
  margin-top: 0;
  height: 36px;
  background-color: lightgray;
  border: 2px solid lightgray;
  color: black;
}

.button-active {
  background-color: lightblue;
}